In [38]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder
from tensorflow.keras.utils import to_categorical
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [39]:
df = pd.read_csv(r'C:\Users\AbayomiBello\Downloads\university-data.csv', delimiter = ';')
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [40]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [41]:
# Standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)

# Encode the labels using LabelEncoder
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

# Perform categorical encoding on the labels
y_categorical = to_categorical(y_encoded)

In [42]:
## encoded value
y_encoded

array([0, 2, 0, ..., 0, 2, 2])

In [43]:
### categorical value
## here the integer into a binary matrix 
## The categorical encoding enables the model to understand 
## the multi-class nature of the problem and make 
## predictions accordingly. During training, 
## the model will learn to assign probabilities to each class, 
## and the class with the highest probability 
## will be selected as the predicted class.
y_categorical

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.]], dtype=float32)

In [44]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_categorical, test_size=0.2, random_state=42)

In [45]:
# Define the model architecture
num_features = 36
# Define the model architecture
model = keras.Sequential()
model.add(layers.Dense(64, activation='relu', input_shape=(num_features,)))
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(3, activation='softmax'))  
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [46]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                2368

 dense_10 (Dense)            (None, 64)                4160

 dense_11 (Dense)            (None, 3)                 195

=================================================================
Total params: 6,723
Trainable params: 6,723
Non-trainable params: 0
_________________________________________________________________

In [47]:


# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10

111/111 [==============================] - 1s 3ms/step - loss: 0.7353 - accuracy: 0.7025 - val_loss: 0.6706 - val_accuracy: 0.7277
Epoch 2/10
111/111 [==============================] - 0s 1ms/step - loss: 0.5908 - accuracy: 0.7567 - val_loss: 0.6305 - val_accuracy: 0.7492
Epoch 3/10
111/111 [==============================] - 0s 2ms/step - loss: 0.5564 - accuracy: 0.7748 - val_loss: 0.6244 - val_accuracy: 0.7514
Epoch 4/10
111/111 [==============================] - 0s 1ms/step - loss: 0.5329 - accuracy: 0.7830 - val_loss: 0.6293 - val_accuracy: 0.7412
Epoch 5/10
111/111 [==============================] - 0s 1ms/step - loss: 0.5214 - accuracy: 0.7869 - val_loss: 0.6169 - val_accuracy: 0.7571
Epoch 6/10
111/111 [==============================] - 0s 1ms/step - loss: 0.5048 - accuracy: 0.7977 - val_loss: 0.6072 - val_accuracy: 0.7514
Epoch 7/10
111/111 [==============================] - 0s 1ms/step - loss: 0.4941 - accuracy: 0.8002 - val_loss: 0.6112 - val_accuracy: 0.7514
Epoch 8/10
111/111 [==============================] - 0s 1ms/step - loss: 0.4811 - accuracy: 0.8045 - val_loss: 0.6098 - val_accuracy: 0.7548
Epoch 9/10
111/111 [==============================] - 0s 2ms/step - loss: 0.4708 - accuracy: 0.8138 - val_loss: 0.6106 - val_accuracy: 0.7514
Epoch 10/10
111/111 [==============================] - 0s 1ms/step - loss: 0.4616 - accuracy: 0.8101 - val_loss: 0.6112 - val_accuracy: 0.7616